@import '../../style/variables.scss';

.post {
	width: 100%;
	border: $border;

	background-color: white;

	margin-bottom: 2px;
	padding: $padding;

	box-sizing: border-box;

	&__header {
		&-user {
			font-weight: bold;
			margin-right: 5px;
		}
		&-time {
			float: right;
			color: $color-disabled-text;
		}

		&-id {
			color: $color-disabled-text;
		}
	}

	&__body {
		min-height: 50px;

		max-height: 100%;
		max-width: 100%;

		overflow: auto;
		overflow-wrap: break-word;

		white-space: pre-wrap;

		text-align: justify;

		padding-bottom: 5px;
	}

	&__buttons {
		border-top: $border;

		padding-top: 5px;

		display: flex;
		//justify-content: space-between;
	}

	&__input-wrapper {
		margin-top: 5px;
		margin-bottom: 5px;

		display: flex;
		flex-direction: column;

		box-sizing: border-box;

		> input {
			width: 100%;
		}
	}
}

$margin-left: 5 * $standard-spacing;

.comment {
	right: 0;

	margin-top: 3 * $standard-spacing;
	margin-bottom: $standard-spacing;

	position: relative;

	> .comment {
		margin-left: $margin-left;
	}

	&__header {
		display: flex;
		font-size: $smaller-font-size;

		&-user {
			font-weight: bold;
		}
		&-created-on {
			color: $color-disabled-text;
			margin-left: $standard-spacing;
		}
	}

	&__body {
		display: inline-block;
		word-break: break-word;
		text-align: justify;
		margin-left: $margin-left;
	}

	&__buttons {
		margin-left: $margin-left;

		> .pb-button,
		> .dropdown > .pb-button {
			margin-right: 4 * $standard-spacing;

			padding: 0;

			font-size: 0.75rem;
			font-weight: bold;

			color: #878a8c;

			display: inline-block;
			width: fit-content;
			height: fit-content;

			&:hover:enabled {
				color: $color-hover;
				text-decoration: underline;
			}
		}
	}

	&__thread-line {
		position: absolute;

		left: 0;
		top: 1.2em;
		bottom: 0;

		width: $margin-left;

		&:after {
			content: '';

			position: absolute;
			top: 0;
			bottom: 0;
			left: 2 * $standard-spacing;
			transform: translate(-50%);

			border-left: $standard-spacing solid $color-disabled;
		}

		&:hover {
			cursor: pointer;
			&:after {
				border-left: $standard-spacing solid $color-hover;
			}
		}
	}

	&__input-wrapper {
		margin-left: $margin-left + $standard-spacing;
		right: 0;
		margin-top: 2 * $standard-spacing;

		> input {
			width: 100%;
		}
	}
}
