$color-hover: #001f3f;
$color-base: #0074d9;
$color-disabled: #dcdcdc;
$color-disabled-text: #aaaaaa;
$color-label: #ffffff;

$color-background: #fafafa;

$form-field-height: 28px;
$button-width: 50px;

$transition: all 0.2s ease 0s;

$header-height: 3.5em;

$standard-spacing: 0.2em;

$smaller-font-size: 0.75rem;

$border: 1px solid lightgray;
