$color-hover: #001f3f;
$color-base: #0074d9;
$color-disabled: #dcdcdc;
$color-disabled-text: #aaaaaa;
$color-label: #ffffff;

$form-field-height: 28px;
$button-width: 50px;

$transition: all 0.2s ease 0s;
