.post-list {
	//margin-left: 10em;
	//margin-top: 1em;
	padding: 2px;
	//width: 35em;
	width: 100%;
	&-load-more-posts {
		width: 100%;
	}

	box-sizing: border-box;

	display: block;

	> .post {
		display: block;
	}
}
