.post-list {
	//margin-left: 10em;
	//margin-top: 1em;
	padding: 2px;
	//width: 35em;
	//width: 500px;
	//@at-root//	margin-left: auto;
	//margin-right: auto; // TODO fix...

	&-load-more-posts {
		width: 100%;
	}

	box-sizing: border-box;

	display: block;

	> .post {
		display: block;
	}
}

// TODO this is temporary, will be more top-level
