.dropdown {
	position: relative;

	border: 1px solid gray;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	&:not(.dropdown--open) {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	padding-left: 5px;
	padding-right: 5px;

	display: flex;
	align-items: center;

	min-width: 200px;
	min-height: 25px;

	&:focus {
		outline: none;
	}

	span {
		cursor: default;
	}

	&-label {
		width: 100%;
	}

	&-triangle {
		width: 0;
		height: 0;

		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 8px solid black;
	}

	&__list {
		background: white;

		width: 100%;
		min-height: 25px;
		max-height: 200px;
		overflow-y: auto;

		border-top: none;
		border: 1px solid gray;

		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		position: absolute;

		top: 100%;
		left: 0;

		span {
			display: block;

			padding-left: 5px;
			padding-right: 5px;

			min-height: 25px;

			&:hover {
				background-color: lightgray;
			}
		}
	}
}
