$base-color: #001f3f;
$disabled-color: #aaaaaa;
$background-white: white;

.rcl-component {
	padding: 0.5em 1em;

	font-weight: 600;

	color: $base-color;

	border: none;
	border-radius: 5px;

	//	transition: 0.2s;
	background: $background-white;

	svg {
		vertical-align: middle;

		fill: $base-color;
	}

	&:disabled {
		color: $disabled-color;
		svg {
			fill: $disabled-color;
		}
	}

	&:hover:enabled {
		background: $base-color;
		color: $background-white;

		svg {
			fill: $background-white;
		}
	}

	&:focus {
		outline: none;
	}
}
