@import '../../../controls/variables.scss';

.register-page {
	display: block;

	padding: 2em;

	box-sizing: border-box;
	box-shadow: 0 0 2px 0px $color-disabled-text;

	margin-top: 2 * $header-height;
	margin-left: auto;
	margin-right: auto;
	width: 500px;

	background-color: white;

	> button {
		width: 100%;
	}

	&__input {
		width: 100%;

		box-sizing: border-box;
		height: $form-field-height;

		transition: all 0.2s ease-in-out;

		outline: none;
		border: 2px solid #dddddd;

		padding-left: 0.5rem;

		&--invalid {
			box-shadow: 0 0 3px $color-invalid;
			border: 1px solid $color-invalid;
			color: $color-invalid;
		}

		&--valid {
			box-shadow: 0 0 3px $color-valid;
			border: 1px solid $color-valid;
			color: $color-valid;
		}

		&:focus {
			box-shadow: 0 0 5px $color-base;
			border: 1px solid $color-base;
		}
	}

	&__form-field {
		display: block;

		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;

		> * {
			display: block;
		}

		> span {
			font-weight: 450;
		}
	}
}

@media only screen and (max-width: 480px) {
	.register-page {
		width: 100%;
		margin-top: $header-height;
	}
}
