@import '../../style/variables.scss';

.board-sidebar {
	width: 250px;
	height: fit-content;

	&__header {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: $header-height / 2;

		border-bottom: $border;
		color: white;

		background-color: $color-base;

		text-align: center;
	}

	&__content {
		padding: $standard-spacing;

		> p {
			margin: 0;
		}
	}

	border: $border;
}
