@import '../../controls/variables.scss';

.comment {
	//	display: flex;

	width: 100%;

	margin-top: $standard-spacing;
	margin-bottom: $standard-spacing;

	&__header {
		display: flex;
		font-size: $smaller-font-size;

		&-login {
			font-weight: bold;
		}
		&-created-on {
			color: $color-disabled-text;
			margin-left: $standard-spacing;
		}
	}

	&__content {
		display: inline-block;
		word-break: break-word;
		text-align: justify;
		margin-left: 2 * $standard-spacing;
	}
}
