@import '../../controls/variables.scss';

.comment {
	//	display: flex;

	width: 100%;

	margin-top: $standard-spacing;
	margin-bottom: $standard-spacing;

	&__header {
		display: flex;
		font-size: $smaller-font-size;

		&-login {
			font-weight: bold;
		}
		&-created-on {
			color: $color-disabled-text;
			margin-left: $standard-spacing;
		}
	}

	&__content {
		display: inline-block;
		word-break: break-word;
		text-align: justify;
		margin-left: 2 * $standard-spacing;
	}

	&__buttons {
		margin-left: 2 * $standard-spacing;
	}

	&__child-comments {
		width: fit-content;
		height: fit-content;

		margin-left: 2 * $standard-spacing;
	}

	> input {
		margin-left: 2 * $standard-spacing;
		margin-right: 2 * $standard-spacing;
		margin-top: 2 * $standard-spacing;

		width: 100%;
	}

	.pb-button {
		margin-right: 4 * $standard-spacing;

		padding: 0;

		font-size: 0.75rem;
		font-weight: bold;

		color: #878a8c;

		display: inline-block;
		width: fit-content;
		height: fit-content;

		&:hover:enabled {
			color: $color-hover;
			text-decoration: underline;
		}
	}
}
