@import '../../controls/variables.scss';

$margin-left: 4 * $standard-spacing;

.comment {
	//	display: flex;

	width: 100%;

	margin-top: $standard-spacing;
	margin-bottom: $standard-spacing;

	position: relative;

	&__header {
		display: flex;
		font-size: $smaller-font-size;

		&-login {
			font-weight: bold;
		}
		&-created-on {
			color: $color-disabled-text;
			margin-left: $standard-spacing;
		}
	}

	&__content {
		display: inline-block;
		word-break: break-word;
		text-align: justify;
		margin-left: $margin-left;
	}

	&__buttons {
		margin-left: $margin-left;
	}

	&__child-comments {
		margin-left: $margin-left;
	}

	&__thread-line {
		position: absolute;
		left: 0.1em;
		top: 1em;
		width: 0.2em;
		bottom: 0;
		background-color: $color-disabled;

		&:hover {
			background-color: $color-hover;
			cursor: pointer;
		}
	}

	input {
		margin-left: $margin-left;
		margin-right: 2 * $standard-spacing;
		margin-top: 2 * $standard-spacing;

		width: 100%;
	}

	.pb-button {
		margin-right: 4 * $standard-spacing;

		padding: 0;

		font-size: 0.75rem;
		font-weight: bold;

		color: #878a8c;

		display: inline-block;
		width: fit-content;
		height: fit-content;

		&:hover:enabled {
			color: $color-hover;
			text-decoration: underline;
		}
	}
}
