.page {
	&__header {
		border-bottom: 1px solid lightgray;

		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		height: 30px;

		background-color: white;

		> span {
			font-size: 1.2em;
			font-weight: 500;
		}

		&-container {
			float: right;
		}
	}

	&__body {
		padding-top: 50px;
		width: 100%;

		> * {
			width: 450px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
