@import '../../controls/variables.scss';
.post {
	width: 100%;
	border: 1px solid lightgray;

	background-color: white;

	margin-bottom: 2px;
	padding: 5px;

	&__header {
		&-user {
			font-weight: bold;
			margin-right: 5px;
		}
		&-time {
			float: right;
			color: $color-disabled-text;
		}

		&-id {
			color: $color-disabled-text;
		}
	}

	&__body {
		min-height: 50px;

		border-bottom: 1px solid lightgray;

		overflow-wrap: break-word;
		white-space: pre-wrap;

		text-align: justify;

		padding-bottom: 5px;
	}

	&__buttons {
		padding-top: 5px;

		display: flex;
		justify-content: space-between;
	}
}
