@import '../../controls/variables.scss';
.post {
	width: 100%;
	border: 1px solid lightgray;

	margin-bottom: 10px;
	padding: 5px;

	&__header {
		&-user {
			font-weight: bold;
			margin-right: 5px;
		}
		&-time {
			float: right;
			color: $color-disabled-text;
		}

		&-id {
			color: $color-disabled-text;
		}
	}

	&__body {
		min-height: 50px;

		border-bottom: 1px solid lightgray;

		overflow-wrap: break-word;
		white-space: pre-wrap;

		text-align: justify;

		padding-bottom: 5px;
	}
	&__buttons {
		padding-top: 5px;

		display: flex;
		justify-content: space-between;

		.pb-button {
			width: 56px;
			min-width: 0px; // TODO this is temporary;
		}
	}
}

.dropdown {
	position: relative;
	display: inline-block;
}

// display on hover...
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content .pb-button {
	text-align: left;
	min-width: 100%;
	display: block;
}
