@import '../../style/variables.scss';

.post {
	width: 100%;
	border: $border;

	background-color: white;

	margin-bottom: 2px;
	padding: $padding;

	box-sizing: border-box;

	&__header {
		&-user {
			font-weight: bold;
			margin-right: 5px;
		}
		&-time {
			float: right;
			color: $color-disabled-text;
		}

		&-id {
			color: $color-disabled-text;
		}
	}

	&__body {
		min-height: 50px;

		max-height: 100%;
		max-width: 100%;

		overflow: auto;
		border-bottom: $border;

		overflow-wrap: break-word;
		white-space: pre-wrap;

		text-align: justify;

		padding-bottom: 5px;
	}

	&__buttons {
		padding-top: 5px;

		display: flex;
		justify-content: space-between;
	}
}
