.post {
	width: 100%;
	border: 1px solid lightgray;

	margin-bottom: 10px;
	padding: 10px;

	&__header {
		&-user {
			font-weight: bold;
			margin-right: 5px;
		}
		&-time {
			float: right;
		}
	}

	&__body {
		min-height: 50px;

		border-bottom: 1px solid lightgray;

		overflow-wrap: break-word;
		text-align: justify;
	}

	&__reaction-picker-container {
		position: relative;
	}

	&__buttons {
		padding-top: 5px;
		padding-bottom: 5px;
		display: flex;

		border-bottom: 1px solid lightgray;

		> button {
			width: 100%;
		}
	}
}
