@import '../../controls/variables.scss';

.community-bar {
	width: 100%;
	height: 2em;

	display: table;

	padding: 0.25em 1em;

	box-sizing: border-box;

	background-color: white;

	box-shadow: 0 1px 3px 0 gray;

	> * {
		margin-right: 0.5em;
	}
}
