@import '../../controls/variables.scss';

.header {
	z-index: 1;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	height: $header-height;

	border-bottom: 1px solid lightgray;

	box-sizing: border-box;
	background: white;

	padding: 1em;

	box-shadow: 0 1px 3px 0 grey; // TODO make a variable, since we repeat this in CommunityBar

	display: flex;
	justify-content: space-between;
	align-items: center;

	&__label {
		color: $color-hover;
	}

	&__container {
		display: flex;
	}
}
