@import '../../controls/variables.scss';

.post-creator {
	padding: 10px;
	border: 1px solid lightgray;

	background-color: white;

	> p {
		margin: 0;
	}

	> * {
		width: 100%;
	}

	> .pb-textarea {
		height: 50px;

		&:focus {
			height: 150px;
		}
		&:not(:invalid) {
			height: 150px;
		}
	}
}
