@import '../../style/variables.scss';

.post-creator {
	padding: $padding;
	border: $border;

	height: 300px; // TODO temporary

	&__tab-buttons {
		display: flex;
		> button {
			width: 100%;
		}
	}

	> p {
		margin: 0;
	}

	> * {
		width: 100%;
	}

	> .image-uploader {
		height: 200px; // TODO temporary
	}

	> button {
		height: $form-field-height;
	}
}
