@import '../../controls/variables.scss';

.post-creator {
	padding: $padding;
	border: 1px solid lightgray;

	background-color: white;

	box-sizing: border-box;

	> p {
		margin: 0;
	}

	> * {
		width: 100%;
	}

	> .pb-button {
		height: 100%;
	}

	.tab-control .pb-textarea {
		height: 50px;
		box-sizing: border-box;

		&:focus {
			height: 150px;
		}
		&:not(:invalid) {
			height: 150px;
		}
	}
}
