@import '../variables.scss';

.pb-button {
	border: 0;

	> i {
		font-size: 18px;
		vertical-align: middle;
	}

	color: black;
	background-color: white;

	&--fill {
		color: white;
		background-color: $color-base;
	}

	&:disabled {
		color: $color-disabled-text;
		background-color: $color-disabled;

		transition: $transition;
	}

	&:hover:enabled {
		color: $color-label;
		background-color: $color-hover;

		transition: $transition;
	}

	&:focus {
		outline: none;
	}
}
