@import '../variables.scss';

.pb-button {
	min-width: 8.4375rem;
	height: $form-field-height;

	border: 0;

	color: black;
	background: white;

	transition: all 0.2s ease 0s;

	&--fill {
		color: white;
		background-color: $color-base;
	}

	> i {
		font-size: 18px;
		vertical-align: middle;
	}

	&:disabled {
		background: $color-disabled;
		transition: all 0.2s ease 0s;

		color: black;

		opacity: 0.3;
	}

	&:hover:enabled {
		color: $color-label;
		background: $color-hover;
		transition: all 0.2s ease 0s;
	}

	&:focus {
		outline: none;
	}
}
