@import '../variables.scss';

.pb-input {
	box-sizing: border-box;
	height: $form-field-height;

	transition: all 0.2s ease-in-out;

	outline: none;
	border: 1px solid #dddddd;

	padding-left: 0.5rem;

	&:focus {
		box-shadow: 0 0 5px $color-base;
		border: 1px solid $color-base;
	}
}
